[Desktop Entry]
Version=1.0
Type=Application
Name=scconfig
Comment=
Exec=/opt/seiscomp/bin/seiscomp exec scconfig 
Icon=xfce4-pulseaudio-plugin
Path=/home/sysop/
Terminal=false
StartupNotify=false