[Desktop Entry]
Version=1.0
Type=Application
Name=scmv
Comment=
Exec=/opt/seiscomp/bin/seiscomp exec scmv 
Icon=xfce4-pulseaudio-plugin
Path=/home/sysop/
Terminal=false
StartupNotify=false